name: "Run dart specific github actions"

on:
  workflow_call:
    inputs:
      env_file:
        description: "Path to an .env file to read flutter_version and/or dart_version from."
        type: string
        required: false
      directory:
        description: "The subdirectory for the dart project, defaults to the current directory."
        type: string
        required: false
        default: ""
      ignore_formatting:
        description: "A subdirectory which is ignored in the format check by formatting it before."
        type: string
        required: false
        default: ""
    secrets:
      ssh_key:
        description: "SSH key to pull private dependencies"
        required: false

jobs:
  dart_analyzer:
    runs-on: ubuntu-latest
    env:
      env_file: ${{ inputs.env_file }}
    steps:
      - uses: actions/checkout@v4
      - name: Read env file
        if: env.env_file != ''
        run: cat ${{ env.env_file }} >> $GITHUB_ENV
      - uses: dart-lang/setup-dart@a57a6c04cf7d4840e88432aad6281d1e125f0d46
        if: env.dart_version != ''
        with:
          sdk: ${{ env.dart_version }}
      - uses: subosito/flutter-action@48cafc24713cca54bbe03cdc3a423187d413aafa
        with:
          flutter-version: ${{ env.flutter_version }}
          cache: true
      - uses: actions/cache@v4
        with:
          path: ~/.pub-cache
          key: ${{ runner.os }}-${{ hashFiles('**/pubspec.lock') }}
      - name: Enable pulling private dependencies
        uses: famedly/frontend-ci-templates/.github/actions/dart-prepare@main
        with:
          ssh_key: "${{ secrets.ssh_key }}"
          container_mode: "false"
      - name: Fetch dependencies
        id: deps
        working-directory: ${{ inputs.directory }}
        run: |
          flutter pub get
      - run: dart format ${{ inputs.ignore_formatting }}
        if: inputs.ignore_formatting != ''
      - name: Check formatting
        working-directory: ${{ inputs.directory }}
        run: |
          dart format lib/ --set-exit-if-changed || (echo '```diff' >> "$GITHUB_STEP_SUMMARY"; git diff >> "$GITHUB_STEP_SUMMARY"; echo '```' >> "$GITHUB_STEP_SUMMARY"; exit 1)
      - name: Run analyzer
        working-directory: ${{ inputs.directory }}
        if: success() || (failure() && steps.deps.conclusion == 'success')
        run: flutter analyze
      - name: Sort imports
        working-directory: ${{ inputs.directory }}
        if: success() || (failure() && steps.deps.conclusion == 'success')
        run: |
          if ! dart run import_sorter:main --no-comments --exit-if-changed
          then
            # run again, since exit-if-changed prevents formatting
            dart run import_sorter:main --no-comments
            echo '```diff' >> "$GITHUB_STEP_SUMMARY"
            git diff >> "$GITHUB_STEP_SUMMARY"
            echo '```' >> "$GITHUB_STEP_SUMMARY"
            exit 1
          fi
